<template>
  <v-container>
    <v-card flat>
      <v-card-title>
        Lista de Reportes
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="desserts"
        :search="search"
      ></v-data-table>
    </v-card>
  </v-container>
</template>
<script>
export default {
  name: "ListReport",
  data() {
    return {
      search: "",
      headers: [
        {
          text: "ID",
          align: "start",
          sortable: false,
          value: "name",
        },
        { text: "Tipo de Incidente", value: "tipoIncidente" },
        { text: "Departamento", value: "departamento" },
        { text: "Provincia", value: "provincia" },
        { text: "Distrito", value: "distrito" },
        { text: "Direccion", value: "direccion" },
        { text: "Fecha", value: "fecha" },
        { text: "Hora", value: "hora" },
      ],
      desserts: [
        {
          name: "1",
          tipoIncidente: "",
          departamento: "",
          provincia: "",
          distrito: "",
          direccion: "",
          Fecha: "",
          Hora: "",
        },
        {
          name: "2",
          tipoIncidente: "",
          departamento: "",
          provincia: "",
          distrito: "",
          direccion: "",
          Fecha: "",
          Hora: "",
        },
        {
          name: "3",
          tipoIncidente: "",
          departamento: "",
          provincia: "",
          distrito: "",
          direccion: "",
          Fecha: "",
          Hora: "",
        },
      ],
    };
  },
};
</script>