<template>
  <v-content>
    <Login />
  </v-content>
</template>

<script>
import Login from "../components/Login/FormLogin";
export default {
  name: "SignIn",
  components: {
    Login,
  },
  data() {
    return {
      items: [],
    };
  },
};
</script>