<template>
  <v-content> <Create /> </v-content>
</template>

<script>
import Create from "../components/Login/FormCreate";
export default {
  name: "SignUp",
  components: {
    Create,
  },
  data() {
    return {
      items: [],
    };
  },
};
</script>