<template>
  <v-container>
    <v-footer padless>
      <v-card flat tile class="text-center">
        <v-card-text class="pt-5">
          Actuemos cumpliendo las medidas de aislamiento social dictadas por el
          Gobierno peruano con responsabilidad y empatía. Seamos conscientes de
          que esta enfermedad produce daños criticos en nuestro organismo, por
          lo que debemos de evitar las reuniones sociales, como tambien evitar
          salir sin motivo de importancia. Cuida tu salud y la de tus
          familiares.
        </v-card-text>

        <v-divider></v-divider>

        <v-card-text class="">
          {{ new Date().getFullYear() }} —
          <strong>Reporte de Incidentes</strong>
        </v-card-text>
      </v-card>
    </v-footer></v-container
  >
</template>

<script>
export default {
  name: "Footer",

  data() {},
};
</script>
