<template>
  <v-container>
    <div class="block galleryBlock">
      <h2 class="text-center">¿Cómo evitar el COVID-19?</h2>
      <v-row>
        <v-col
          v-for="item in items"
          :key="item.id"
          class="d-flex child-flex"
          cols="4"
        >
          <v-img :src="item.src" aspect-ratio="1" class="grey lighten-2">
            <template v-slot:placeholder>
              <v-row class="fill-height ma-0" align="center" justify="center">
                <v-progress-circular
                  indeterminate
                  color="grey lighten-5"
                ></v-progress-circular>
              </v-row>
            </template>
          </v-img>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
export default {
  name: "Gallery",

  data() {
    return {
      items: [
        {
          id: 1,
          src: require("../assets/images/prevencion-covid1.png"),
        },
        {
          id: 2,
          src: require("../assets/images/prevencion-covid2.png"),
        },
        {
          id: 3,
          src: require("../assets/images/prevencion-covid3.png"),
        },
        {
          id: 4,
          src: require("../assets/images/prevencion-covid4.png"),
        },
        {
          id: 5,
          src: require("../assets/images/prevencion-covid5.png"),
        },
        {
          id: 6,
          src: require("../assets/images/prevencion-covid6.png"),
        },
        {
          id: 7,
          src: require("../assets/images/prevencion-covid8.png"),
        },
        {
          id: 8,
          src: require("../assets/images/prevencion-covid7.png"),
        },
      ],
    };
  },
};
</script>
