<template>
  <v-container>
    <v-toolbar flat color="#f5f9fa">
      <v-toolbar-title>Sistema de Incidentes Covid-19</v-toolbar-title>

      <v-spacer></v-spacer>
      <v-btn text>
        <router-link to="/"> Inicio </router-link>
      </v-btn>
      <v-btn text> <router-link to="/signin">Login </router-link></v-btn>

      <v-btn text> <router-link to="/signup">Crear Cuenta </router-link></v-btn>
      <v-btn text>
        <router-link to="/listreportuser"
          >Lista de Reportes
        </router-link></v-btn
      >
      <v-toolbar-items></v-toolbar-items>
    </v-toolbar>
  </v-container>
</template>

<script>
export default {
  name: "Header",

  data: () => ({}),
};
</script>
