<template>
  <v-content>
    <HeaderUser />
  </v-content>
</template>

<script>
import HeaderUser from "../../components/user/HeaderUser";
export default {
  name: "HomeUserView",

  components: {
    HeaderUser,
  },

  data() {
    return {
      items: [],
    };
  },
};
</script>