<template>
  <v-content><ListReport /></v-content>
</template>
<script>
import ListReport from "../../components/user/ListReport";
export default {
  name: "ListReportUser",
  components: {
    ListReport,
  },
};
</script>