<template>
  <v-img
    src="@/assets/images/background-login.jpg"
    max-width="100%"
    max-height="800"
  >
    <v-col>
      <v-card width="500" class="mx-auto mt-9">
        <v-row>
          <v-col>
            <v-card-text class="mt-10">
              <h1 class="text-center display-2 text--accent-3">Crear Cuenta</h1>
              <div class="text-center" mt-4></div>

              <h4 class="text-center mlt-4">Ingresa tus datos</h4>
              <v-form>
                <v-text-field
                  label="Nombre"
                  name="Name"
                  prepend-icon="fa-user"
                  type="text"
                  color="teal accent-3"
                  :rules="[(v) => !!v || 'Nombre es requerido']"
                  required
                />
                <v-text-field
                  label="Apellido"
                  name="apellido"
                  prepend-icon="fa-user"
                  type="text"
                  color="teal accent-3"
                  :rules="[(v) => !!v || 'Apellido es requerido']"
                  required
                />
                <v-text-field
                  label="DNI"
                  name="dni"
                  prepend-icon="fas fa-address-card"
                  type="text"
                  color="teal accent-3"
                  :rules="[(v) => !!v || 'DNI es requerido']"
                  required
                />
                <v-text-field
                  label="Dirección"
                  name="direccion"
                  prepend-icon="fas fa-map-marker-alt"
                  type="text"
                  color="teal accent-3"
                  :rules="[(v) => !!v || 'Dirección es requerido']"
                  required
                />
                <v-text-field
                  label="Correo Electronico"
                  name="Email"
                  prepend-icon="fa-envelope"
                  type="text"
                  color="teal accent-3"
                  required
                  :rules="[(v) => !!v || 'Correo electronico es requerido']"
                />
                <v-text-field
                  label="Contraseña"
                  name="Password"
                  prepend-icon="fa-lock"
                  type="password"
                  color="teal accent-3"
                  :rules="[(v) => !!v || 'Contraseña es requerido']"
                  required
                />
                <form action="?" method="POST"></form>
              </v-form>
            </v-card-text>
            <div class="text-center mt-3">
              <v-btn rounded color="#cbf7f7">Registrar</v-btn>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
  </v-img>
</template>

<script>
export default {
  name: "FormCreate",

  data: () => ({}),
};
</script>