<template>
  <v-img
    src="@/assets/images/background-login.jpg"
    max-width="100%"
    max-height="700px"
  >
    <v-col>
      <v-card width="500" class="mx-auto mt-9">
        <v-row>
          <v-col>
            <v-card-text class="mt-10">
              <h1 class="text-center display-2 text--accent-3">Login</h1>
              <div class="text-center" mt-4></div>

              <h4 class="text-center mlt-4">Ingresa tus datos</h4>
              <v-form>
                <v-text-field
                  label="Email"
                  name="Email"
                  prepend-icon="fa-envelope"
                  type="text"
                  color="#e36b6b"
                />
                <v-text-field
                  id="password"
                  label="Password"
                  name="Password"
                  prepend-icon="fa-lock"
                  type="password"
                  color="#e36b6b"
                />
                <form action="?" method="POST">
                  <div
                    class="g-recaptcha"
                    style="transform: scale(0.9); transform-origin: 0 0"
                    data-sitekey="6LdbtM0ZAAAAADiSDuICkJDfayo3bdp4dUqNXq0_"
                  ></div>
                </form>
              </v-form>
            </v-card-text>
            <div class="text-center mt-3">
              <v-btn rounded color="#cbf7f7">Ingresar</v-btn>
            </div>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
  </v-img>
</template>

<script>
export default {
  name: "FormLogin",

  data: () => ({}),
};
</script>